{% extends "@core/pages/index.html.twig" %}

{% block stylesheets_page %}
{% endblock %}

{% block stylesheets_page_group %}
  
{% endblock %}

{% set page_active = "WIP" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{translate("WIP")}}{% endblock %}

{% block page_description %}{{translate("WIP.WORKINPROGRESS yeah")}}{% endblock %}

{% block body_matter %}
  <h1>Data page
  </h1>

  <iframe src="http://192.168.100.64/www/streamingtest.html" height="600" width="800" style="border:none;"></iframe>
  

{% endblock %}



{% block scripts_page_group %}
  
{% endblock %}
{% block scripts_page %}
{% endblock %}
