{% extends "@core/pages/index.html.twig" %}

{% block stylesheets_page %}
	{{ assets.css('css/demo') | raw }}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css" type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css" type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.css"/>
{% endblock %}

{% block stylesheets_page_group %}
  
{% endblock %}

{% set page_active = "WIP" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{translate("WIP")}}{% endblock %}

{% block page_description %}{{translate("WIP.WORKINPROGRESS")}}{% endblock %}

{% block body_matter %}
  <h1>Data page
  </h1>

  <iframe src="http://192.168.100.64/www/streamingtest.html" height="600" width="800" style="border:none;"></iframe>
  

{% endblock %}



{% block scripts_page_group %}
  
{% endblock %}
{% block scripts_page %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.0.3/adapter.min.js" ></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js" ></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.1.0/bootbox.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>
	<script type="text/javascript" src="janus.js" ></script>
	<script type="text/javascript" src="streamingtest.js"></script>
{% endblock %}
